In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
#Preprocess data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
#Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [6]:
#One-hot encoder 'Geography'
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
#Combine one-hot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
#Split the data into features and target 
X=data.drop('EstimatedSalary',axis=1) 
y=data['EstimatedSalary']

In [9]:
#Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#scale these feature
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
#Save the encoders and scaler for later use
with open ('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)
with open ('onehot_encoder_geo.pkl','wb')as file:
    pickle.dump(onehot_encoder_geo,file)
with open ('scaler.pkl','wb')as file:
    pickle.dump(scaler,file)

ANN regression problem statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
#Build Our ann model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #HL1 Connection with input layers
    Dense(32,activation='relu'), #HL2
    Dense(1)#output layers for regression 
    
]
)
#Compile the model 
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\Kush\Desktop\Project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Kush\Desktop\Project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
#Set up the TensorBoard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="regressionlogs/fit"+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
#Set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [18]:
#Training the model 
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
    
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Kush\Desktop\Project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Kush\Desktop\Project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 6ms/step - loss: 100369.4297 - mae: 100369.4297 - val_loss: 98478.3672 - val_mae: 98478.3672
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99454.8984 - mae: 99454.8984 - val_loss: 96611.6719 - val_mae: 96611.6719
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 96203.2266 - mae: 96203.2266 - val_loss: 91848.2109 - val_mae: 91848.2109
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 89882.5469 - mae: 89882.5469 - val_loss: 84118.3594 - val_mae: 84118.3594
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 80915.6016 - mae: 80915.6016 - val_loss: 74526.4062 - val_mae: 74526.4062
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 70982.6016 - mae: 70982.6016 - val_loss: 65240.4219 - val_mae: 65240.4219
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 62161.5391 - mae: 62161.5391 - val_loss: 57963.5234 - val_mae: 57963.5234
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 55950.5703 - mae: 55950.5703 - val_loss: 53580.3281 - val_mae: 53580.3281
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 52541.5312 - mae: 52541.5312 - val_loss: 51534.6992 - val_mae: 51534.6992
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51024.7305 - mae: 51024.7305 - val_loss: 50908.1719 - val_mae: 50908.1719
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50509.0195 - mae: 50509.0195 - val_loss: 50763.2148 - val_mae: 50763.2148
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50323.8086 - mae: 50323.8086 - val_loss: 50691.6875 - val_mae: 50691.6875
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50225.5000 - mae: 50225.5000 - val_loss: 50646.3633 - val_mae: 50646.3633
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50161.3594 - mae: 50161.3594 - val_loss: 50608.1758 - val_mae: 50608.1758
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50110.1562 - mae: 50110.1562 - val_loss: 50567.9453 - val_mae: 50567.9453
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50065.5742 - mae: 50065.5742 - val_loss: 50540.0625 - val_mae: 50540.0625
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50025.6953 - mae: 50025.6953 - val_loss: 50525.3555 - val_mae: 50525.3555
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49987.6055 - mae: 49987.6055 - val_loss: 50502.7461 - val_mae: 50502.7461
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49950.7461 - mae: 49950.7461 - val_loss: 50474.9961 - val_mae: 50474.9961
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49914.1445 - mae: 49914.1445 - val_loss: 50454.2891 - val_mae: 50454.2891
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49883.0430 - mae: 49883.0430 - val_loss: 50436.4023 - val_mae: 50436.4023
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49858.1562 - mae: 49858.1562 - val_loss: 50419.7695 - val_mae: 50419.7695
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49833.4336 - mae: 49833.4336 - val_loss: 50408.0664 - val_mae: 50408.0664
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49808.3203 - mae: 49808.3203 - val_loss: 50390.6914 - val_mae: 50390.6914
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49789.0586 - mae: 49789.0586 - val_loss: 50383.9805 - val_mae: 50383.9805
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49765.1094 - mae: 49765.1094 - val_loss: 50365.3633 - val_mae: 50365.3633
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49747.4609 - mae: 49747.4609 - val_loss: 50357.4141 - val_mae: 50357.4141
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49732.0391 - mae: 49732.0391 - val_loss: 50344.9062 - val_mae: 50344.9062
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49711.1289 - mae: 49711.1289 - val_loss: 50337.6172 - val_mae: 50337.6172
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49696.4414 - mae: 49696.4414 - val_loss: 50339.0898 - val_mae: 50339.0898
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49678.6953 - mae: 49678.6953 - val_loss: 50325.2383 - val_mae: 50325.2383
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49664.7305 - mae: 49664.7305 - val_loss: 50318.9844 - val_mae: 50318.9844
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49650.4023 - mae: 49650.4023 - val_loss: 50316.9844 - val_mae: 50316.9844
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49640.6836 - mae: 49640.6836 - val_loss: 50323.8477 - val_mae: 50323.8477
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49626.4961 - mae: 49626.4961 - val_loss: 50329.0859 - val_mae: 50329.0859
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49611.2852 - mae: 49611.2852 - val_loss: 50312.2227 - val_mae: 50312.2227
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49600.4766 - mae: 49600.4766 - val_loss: 50315.5039 - val_mae: 50315.5039
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49590.2305 - mae: 49590.2305 - val_loss: 50307.0781 - val_mae: 50307.0781
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49579.7383 - mae: 49579.7383 - val_loss: 50309.3633 - val_mae: 50309.3633
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49572.0859 - mae: 49572.0859 - val_loss: 50309.8398 - val_mae: 50309.8398
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49563.7461 - mae: 49563.7461 - val_loss: 50304.4258 - val_mae: 50304.4258
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49553.3633 - mae: 49553.3633 - val_loss: 50308.1758 - val_mae: 50308.1758
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49542.8945 - mae: 49542.8945 - val_loss: 50303.9258 - val_mae: 50303.9258
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49539.1289 - mae: 49539.1289 - val_loss: 50316.4688 - val_mae: 50316.4688
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49528.8672 - mae: 49528.8672 - val_loss: 50289.1680 - val_mae: 50289.1680
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49521.5742 - mae: 49521.5742 - val_loss: 50296.0352 - val_mae: 50296.0352
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49508.6641 - mae: 49508.6641 - val_loss: 50302.9258 - val_mae: 50302.9258
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49505.6719 - mae: 49505.6719 - val_loss: 50303.1914 - val_mae: 50303.1914
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49499.2969 - mae: 49499.2969 - val_loss: 50296.9375 - val_mae: 50296.9375
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49491.3242 - mae: 49491.3242 - val_loss: 50301.2773 - val_mae: 50301.2773
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49483.4922 - mae: 49483.4922 - val_loss: 50298.0156 - val_mae: 50298.0156
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49473.0703 - mae: 49473.0703 - val_loss: 50304.0898 - val_mae: 50304.0898
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49471.2422 - mae: 49471.2422 - val_loss: 50300.7188 - val_mae: 50300.7188
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49463.3477 - mae: 49463.3477 - val_loss: 50298.9688 - val_mae: 50298.9688
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49460.2461 - mae: 49460.2461 - val_loss: 50294.9219 - val_mae: 50294.9219

In [19]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit20250702-203801

Reusing TensorBoard on port 6007 (pid 10072), started 0:00:03 ago. (Use '!kill 10072' to kill it.)

In [24]:
#Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50289.1680 - mae: 50289.1680
Test MAE:50289.16796875

In [25]:
model.save('regression_model.h5')

c:\Users\Kush\Desktop\Project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(